/* SASS STUFF & INIT
---------------------------------------*/
	@import 'normalize';
	
	*{box-sizing: border-box;}
	.cf:before,.cf:after {content: " ";display: table;} .cf:after {clear: both;} .cf {*zoom: 1;}

	html{}
	body{height:100%;}
	a {text-decoration: none;-webkit-transition: color .3s ease-in-out;transition: color .3s ease-in-out;}

/* GENERAL
---------------------------------------*/
	.page{width:400px;margin:auto}
	.page textarea{width:100%;margin-bottom: 20px;border: 1px solid #aaa}

/* MEDIA QUERIES
---------------------------------------*/
	// small screens
	@media screen and (max-width: 480px){

	}

	// Desktop
	@media screen and (min-width: 856px){
		
	}






















